<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Gabi's Movie Website!!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">IDK</a></li>
      </ul>
    </div>
  </div>
</nav>
<body>
  <div class="container-fluid div-1">
    <div class='flex flex-col justify-center'>
      <h1 class='text-center'>Welcome to Gabi's movies! </h1>
      <h3 class='text-center'>The most in depth movie data catalog around.</h3>
      <h1 class="text-white bg-red-500">hello</h1>
  </div>
  <div>
    <div class='flex flex-col justify-center'>
      <div class='flex flex-col justify-center items-start'>
        <div class='flex flex-col basis-1/2 justify-center items-center w-full'>
          <p class='text-center mt-10 text-xl md:text-2xl lg:text-3xl xl:text-4xl text-pr-white font-bold'>
            Ready to Play!?
          </p>
          <p class='text-center text-md text-pr-white font-medium mt-5'>
            Your mission, should you choose to accept it is to Guess the movie
            rating out of 100.
          </p>
          <p class='text-center text-md text-pr-white font-medium'>
            You will be given the description of the movie, actors, the movie
            poster, cast, and earned money in box office.
          </p>
          <p class='text-center text-md text-pr-white font-medium'>
            You will play five rounds, and be rewarded based off how close you
            were to the rating.
          </p>
          <p class='text-center text-md text-pr-white font-medium'>
            Good Luck Agent!
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>