<form>
    <nav class="h-14 bg-gradient-to-r from-red-800 to-slate-900 mb-2">
        <div class="max-w-screen-xl flex flex-wrap items-center p-4">
            <a class="navbar-brand cursor-pointer mr-2 text-gray-400">Gabriela's Movie Website!!</a>
            <a class="navbar-brand cursor-pointer ml-2 text-gray-400" (click)="routeToHome('')">Home</a>
        </div>
    </nav>

    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input [ngModelOptions]="{standalone: true}" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search a Movie, Genre, or Director!!" [(ngModel)]="searchedMovie" (ngModelChange)="searchMovies(searchedMovie)" required>
    </div>
</form>
<body class="mt-2">
    <div class="grid">
        <div class="row-span-2">
            <i class="border text-left px-8 py-4 mt-2 mb-2">Here's a list of movies for you that Gabriela owns!</i>
            <div class="relative overflow-x-auto">
                <table class="w-full text-md text-left">
                    <thead>
                    <tr>
                        <th class="bg-blue-100 border text-left px-8 py-4">Movie Name</th>
                        <th class="bg-blue-100 border text-left px-8 py-4">Director</th>
                        <th class="bg-blue-100 border text-left px-8 py-4">Genre</th>
                        <th class="bg-blue-100 border text-left px-8 py-4">Year</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of movieService.movies" (click)="getMovieData(movie.movieName)">
                            <td class="border px-8 py-4 cursor-pointer">{{ movie.movieName }}</td>
                            <td class="border px-8 py-4 cursor-pointer">{{ movie.director }}</td>
                            <td class="border px-8 py-4 cursor-pointer">{{ movie.genre }}</td>
                            <td class="border px-8 py-4 cursor-pointer">{{ movie.date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>