<nav class="bg-white border-blue-200 dark:bg-blue-900 mb-2">
    <div class="max-w-screen-xl flex flex-wrap items-center p-4">
        <a class="navbar-brand cursor-pointer mr-2 text-gray-400">Gabriela's Movie Website!!</a>
        <a class="navbar-brand cursor-pointer ml-2 mr-2 text-gray-400" (click)="routeToHome('')">Home</a>
        <a class="navbar-brand cursor-pointer ml-2 mr-2 text-gray-400" (click)="routeToMovies('movies')">Movies</a>
    </div>
</nav>
<div>
    {{ movie?.movieName }}
</div>