<nav class="bg-white border-blue-200 dark:bg-blue-900 mb-2">
    <div class="max-w-screen-xl flex flex-wrap items-center p-4">
        <a class="navbar-brand cursor-pointer mr-2 text-gray-400">Gabriela's Movie Website!!</a>
        <a class="navbar-brand cursor-pointer ml-2 mr-2 text-gray-400" (click)="routeToHome('')">Home</a>
        <a class="navbar-brand cursor-pointer ml-2 mr-2 text-gray-400" (click)="routeToMovies('movies')">Movies</a>
    </div>
</nav>
<i class="text-center flex text-4xl justify-center">{{ movie?.movieName }}</i>
<div class="grid">
    <div class="grid grid-cols-3 gap-4">
        <div class="row-span-2">
            <div>
                Genre: {{ movie?.genre }}
            </div>
            <div>
                Director: {{movie?.director}}
            </div>
            <div>
                Cast: {{ movie?.mainCast }}
            </div>
            <div>
                Rotten Tomatoes Rating: {{ movie?.rating }}
            </div>
            <div>
                Plot: {{ movie?.plot }}
            </div>
        </div>
        <div class="row-span-2">
            <img class="center" src='{{movie?.poster}}'>
        </div>
        <div class="row-span-2">
            
        </div>
    </div>
</div>