<nav class="bg-white border-blue-200 dark:bg-blue-900 mb-2">
    <div class="max-w-screen-xl flex flex-wrap items-center p-4">
        <a class="navbar-brand cursor-pointer mr-2 text-gray-400">Gabriela's Movie Website!!</a>
        <a class="navbar-brand cursor-pointer ml-2 text-gray-400" (click)="routeToMovies('movies')">Movies</a>
    </div>
</nav>
<body>

    <div class='flex flex-col justify-center'>
      <h1 class='text-center text-2xl'>Welcome to Gabriela's movies! </h1>
      <h3 class='text-center text-2xs'>The most in depth movie data catalog around.</h3>
    </div>
</body>
